@font-face {
	font-family: 'kollektif';
	src: url('../fonts/kollektif/kollektif.eot'); /* ie9 */
	src: url('../fonts/kollektif/kollektif.eot?#iefix') format('embedded-opentype'), /* ie6-ie8 */
		url('../fonts/kollektif/kollektif.woff2') format('woff2'), /* modern browsers */
		url('../fonts/kollektif/kollektif.woff') format('woff'), /* modern browsers */
		url('../fonts/kollektif/kollektif.ttf') format('truetype'), /* safari, android, ios */
		url('../fonts/kollektif/kollektif.svg#Kollektif-Bold') format('svg'); /* legacy ios */
}

@font-face {
	font-family: 'gidole';
	src: url('../fonts/gidole/gidole.eot'); /* ie9 */
	src: url('../fonts/gidole/gidole.eot?#iefix') format('embedded-opentype'), /* ie6-ie8 */
		url('../fonts/gidole/gidole.woff2') format('woff2'), /* modern browsers */
		url('../fonts/gidole/gidole.woff') format('woff'), /* modern browsers */
		url('../fonts/gidole/gidole.ttf') format('truetype'), /* safari, android, ios */
		url('../fonts/gidole/gidole.svg#Gidole-Regular') format('svg'); /* legacy ios */
}
